section {
  width: 100%;
  padding: 0;
  display: block;
  max-width: none;
  height: 100%;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    display: none;
}

/* Image of a Car */
.car-image {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  position: sticky;
  top: 0;
}

/* Font Changes */
p {
  color: #747474;
}

/* Options Menu Structure */
.options-div {
  padding: 4rem 0rem 0 0;
  text-align: center;
  margin: auto;
}

.stats {
  width: 100%;
  padding-left: 2rem;
}

.colorpick-button {
  background: none;
  border: thin solid transparent;
  border-radius: 100px;
  width: 74px;
  height: 74px;
}

.colorpick {
  width: 100%;
  height: 90%;
}

.padding-top {
  padding-top: 1rem;
}

.padding-top-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin-top {
  margin-top: 4rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.up-list {
  text-align: left;
}

.alert {
  width: 80%;
  text-align: center;
  margin-left: 3rem;
}

/* Font Awesome Icon Changes */
.fa-cog {
  color: #007EC7;
}

/* Button Changes */
.btn {
  width: 75%;
  border: medium solid transparent;
  margin-top: 0.4rem;
}

.btn-primary{
  background-color: #007EC7;
  color: white;
}

.btn-primary:hover{
  background-color: white;
  color: #007EC7;
}

.pressed{
  border: medium solid !important;
  border-color: #007EC7 !important;
  background-color: inherit !important;
}

@media (max-width: 1200px) {
  .up-list {
    text-align: center;
    list-style-type: none;
    padding-right: 2rem;
  }

  .car-image {
    padding-top: 12rem;
  }
}
